    <!-- 左側邊欄 -->
    <div class="ts left vertical fluid inverted visible menu sidebar">
        <!-- 搜尋欄位 -->
        <div class="fitted item">
            <div class="ts icon fluid basic borderless inverted input">
                <input type="text" placeholder="搜尋">
                <i class="search inverted link icon"></i>
            </div>
        </div>
        <!-- / 搜尋欄位 -->

        <!-- 個人資料項目 -->
        <div class="center aligned item">
            <img class="ts tiny circular image" src="/images/user.png">
            <br>
            <br>
            <div>Yami Odymel</div>
        </div>
        <!-- / 個人資料項目 -->

        <!-- 使用者管理 -->
        <div class="item">
            <i class="users icon"></i>
            使用者管理
        </div>
        <!-- / 使用者管理 -->
        <!-- 網站管理 -->
        <a class="item" href="/admin/router">
            <i class="setting icon"></i>
            路由管理
          
        </a>
        <!-- / 網站管理 -->
        <!-- 網站管理 -->
        <div class="item">
            <i class="id badge icon"></i>
            角色管理
            <div class="menu">
                <a class="item">角色檢查/編輯</a>
                <a class="item">綁定路由</a>
            </div>
        </div>
        <!-- / 網站管理 -->

        <!-- 管理文章 -->
        <a href="#!" class="item">
            <i class="book icon"></i>
            管理文章
        </a>
        <!-- / 管理文章 -->

        <!-- 管理文章 -->
        <a href="#!" class="item">
                <i class="talk icon"></i>
                管理聊聊
            </a>
            <!-- / 管理文章 -->


        <!-- 底部選單 -->
        <div class="bottom menu">
            <!-- 登出 -->
            <a href="/admin/logout" class="item">
                <i class="sign out icon"></i>
                登出
            </a>
            <!-- / 登出 -->
        </div>
        <!-- / 底部選單 -->
    </div>
    <!-- / 左側邊欄 -->